{
  "project_info": {
    "project_number": "111111111111",
    "firebase_url": "https://androidblanky.firebaseio.com",
    "project_id": "androidblanky",
    "storage_bucket": "androidblanky.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:111111111111:android:4b6faf6941817cebce195a",
        "android_client_info": {
          "package_name": "com.levibostian.androidblanky"
        }
      },
      "oauth_client": [
        {
          "client_id": "111111111111-11111111111111111111111111111111.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "11111111_111111111111111111111111111111"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "111111111111-11111111111111111111111111111111.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}